---
name: reset_password
resource: User
resource_owner: anyone
redirect_to: /admin/login
flash_notice: Your password has been updated. You can now log in.
configuration:
  email:
    property_options:
      readonly: true
  password:
    validation:
      confirmation: true
  password_confirmation:
    property_options:
      virtual: true
authorization_policies:
  - token_is_valid
---
<style>
  .is-invalid-label .form-error {display: block}
  .form-wrap .error .error-block {display: none}
</style>

<pre id="resetPasswordErrors" style="display: none">
  {{form_builder.errors | json}}
</pre>

{% form %}

  <div class="grid-container">
    <input name="token" value="{{ params.token }}" type="hidden">
    <input name="email" value="{{ form.email }}" type="hidden">
    
    <div class="grid-x grid-padding-x">
      <div class="large-12 cell">
        <label id="passwordField" class="form-label">New Password
          {% input 'password', placeholder: 'Enter your new password' %}
          
          <p class="form-error">
            Password must be at least 6 characters.
          </p>
        </label>
      </div>

      <div class="large-12 cell">
        <label id="confirmField" class="form-label">Confirm Password
          {% input 'password_confirmation', placeholder: 'Re-enter your new password' %}

          <p id="confirmError" class="form-error">
            Password does not match.
          </p>
        </label>
      </div>
      
      <div class="large-12 cell submit-btn-wrap">
        <!-- {% submit 'Reset Password' class: 'ripple-effects' %} -->
        <!-- <button type="submit" class="ripple-effects margin-top-0">RESET PASSWORD</button> -->
        <ins-button type="submit" label="RESET PASSWORD" id="submitButton" solid color="blue"></ins-button>
      </div>
  </div>
  
{% endform %}

<script>
  
  function updateButtonState(){
    submitButton.loading = true;
    submitButton.disabled = true;
  }

  var submitButton = document.getElementById('submitButton');
  var resetPasswordErrors = JSON.parse(document.getElementById('resetPasswordErrors').innerText);

  if (resetPasswordErrors.password === 'is too short (minimum is 6 characters)'){
    document.getElementById('passwordField').classList.add('is-invalid-label');
  }
  
  if (resetPasswordErrors.password_confirmation){
    document.getElementById('confirmField').classList.add('is-invalid-label');
  }

  submitButton.addEventListener('click', updateButtonState);
</script>